USE [master]
GO
/****** Object:  Database [iqportal]    Script Date: 11/03/2026 11:45:30 am ******/
CREATE DATABASE [iqportal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iqportal_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\Backup\iqportal.mdf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 LOG ON 
( NAME = N'iqportal_Logs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\Backup\iqportal.ldf' , SIZE = 8192KB , MAXSIZE = 30720KB , FILEGROWTH = 22528KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iqportal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iqportal]
GO
/****** Object:  User [yug]    Script Date: 11/03/2026 11:45:31 am ******/
CREATE USER [yug] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [yug]
GO
/****** Object:  Schema [yug]    Script Date: 11/03/2026 11:45:31 am ******/
CREATE SCHEMA [yug]
GO
/****** Object:  Table [dbo].[AppSettings]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSettings](
	[SettingKey] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookmarks]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmarks](
	[Bookmark_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Saved_Date] [datetime] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bookmarks] PRIMARY KEY CLUSTERED 
(
	[Bookmark_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Company_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOTP]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOTP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[OTP] [nvarchar](6) NOT NULL,
	[ExpiryTime] [datetime] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Question_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Question_Text] [nvarchar](255) NOT NULL,
	[OptionA] [nvarchar](100) NOT NULL,
	[OptionB] [nvarchar](100) NOT NULL,
	[OptionC] [nvarchar](100) NOT NULL,
	[OptionD] [nvarchar](100) NOT NULL,
	[CorrectOption] [nvarchar](max) NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[Question_Type] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Questions]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Questions](
	[TQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Test_Questions] PRIMARY KEY CLUSTERED 
(
	[TQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[Result_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_ID] [int] NULL,
	[User_ID] [int] NULL,
	[Result_Score] [int] NOT NULL,
	[Total_Questions] [int] NOT NULL,
	[CorrectAnswers] [int] NOT NULL,
	[WrongAnswers] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestResults] PRIMARY KEY CLUSTERED 
(
	[Result_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Test_ID] [int] IDENTITY(1,1) NOT NULL,
	[Test_Name] [nvarchar](50) NOT NULL,
	[Category_ID] [int] NOT NULL,
	[TotalMarks] [int] NOT NULL,
	[Duration_Minutes] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[User_ID] [int] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[Test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Answer_Details]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Answer_Details](
	[Answer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Result_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[User_Answer] [char](1) NOT NULL,
	[Is_Correct] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Answer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Bookmarks]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Bookmarks](
	[Bookmark_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[Created_Date] [datetime] NULL,
 CONSTRAINT [PK_User_Bookmarks] PRIMARY KEY CLUSTERED 
(
	[Bookmark_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Tests]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Tests](
	[UT_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Test_ID] [int] NOT NULL,
	[Assigned_Date] [datetime] NOT NULL,
	[Assigned_By] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Due_Date] [datetime] NULL,
	[Completed_Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_FirstName] [nvarchar](50) NOT NULL,
	[User_LastName] [nvarchar](50) NOT NULL,
	[User_EmailID] [nvarchar](50) NOT NULL,
	[User_Password] [nvarchar](256) NOT NULL,
	[User_Role] [nvarchar](20) NOT NULL,
	[User_RegisteredDate] [datetime] NOT NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookmarks] ON 

INSERT [dbo].[Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Saved_Date], [Remark]) VALUES (1, 2, 1077, CAST(N'2026-01-22T09:46:11.297' AS DateTime), NULL)
INSERT [dbo].[Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Saved_Date], [Remark]) VALUES (2, 2, 1075, CAST(N'2026-01-22T20:52:28.623' AS DateTime), NULL)
INSERT [dbo].[Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Saved_Date], [Remark]) VALUES (3, 2, 1076, CAST(N'2026-01-22T20:53:32.417' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Bookmarks] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Category_ID], [Category_Name], [Remark]) VALUES (12, N'C#', NULL)
INSERT [dbo].[Categories] ([Category_ID], [Category_Name], [Remark]) VALUES (13, N'ASP.NET', NULL)
INSERT [dbo].[Categories] ([Category_ID], [Category_Name], [Remark]) VALUES (14, N'Programming', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([Company_ID], [Company_Name], [Remark]) VALUES (1, N'TATA', NULL)
INSERT [dbo].[Companies] ([Company_ID], [Company_Name], [Remark]) VALUES (2, N'General', NULL)
INSERT [dbo].[Companies] ([Company_ID], [Company_Name], [Remark]) VALUES (4, N'Google', NULL)
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Question_ID], [Category_ID], [Company_ID], [Question_Text], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectOption], [Remark], [Question_Type]) VALUES (1, 14, 4, N'What is C#?', N'A programming language', N'A database', N'An operating system', N'A web browser', N'A', NULL, N'Regular')
INSERT [dbo].[Questions] ([Question_ID], [Category_ID], [Company_ID], [Question_Text], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectOption], [Remark], [Question_Type]) VALUES (2, 15, 5, N'What does SQL stand for?', N'Structured Query Language', N'Simple Question Language', N'Standard Quality Language', N'System Query Language', N'A', NULL, N'Regular')
INSERT [dbo].[Questions] ([Question_ID], [Category_ID], [Company_ID], [Question_Text], [OptionA], [OptionB], [OptionC], [OptionD], [CorrectOption], [Remark], [Question_Type]) VALUES (1006, 3018, 3006, N'Next is frame work of which language?', N'java', N'react', N'node', N'python', N'B', NULL, N'Regular')
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Test_Questions] ON 

INSERT [dbo].[Test_Questions] ([TQ_ID], [Test_ID], [Question_ID], [Remark]) VALUES (7, 3, 1118, NULL)
INSERT [dbo].[Test_Questions] ([TQ_ID], [Test_ID], [Question_ID], [Remark]) VALUES (8, 3, 1117, NULL)
INSERT [dbo].[Test_Questions] ([TQ_ID], [Test_ID], [Question_ID], [Remark]) VALUES (9, 3, 1116, NULL)
SET IDENTITY_INSERT [dbo].[Test_Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[TestResults] ON 

INSERT [dbo].[TestResults] ([Result_ID], [Test_ID], [User_ID], [Result_Score], [Total_Questions], [CorrectAnswers], [WrongAnswers], [Remark]) VALUES (1, 3, 2, 3, 20, 3, 17, NULL)
INSERT [dbo].[TestResults] ([Result_ID], [Test_ID], [User_ID], [Result_Score], [Total_Questions], [CorrectAnswers], [WrongAnswers], [Remark]) VALUES (2, 4, 2, 10, 20, 10, 10, NULL)
INSERT [dbo].[TestResults] ([Result_ID], [Test_ID], [User_ID], [Result_Score], [Total_Questions], [CorrectAnswers], [WrongAnswers], [Remark]) VALUES (3, 5, 2, 20, 21, 20, 1, NULL)
SET IDENTITY_INSERT [dbo].[TestResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Category_ID], [TotalMarks], [Duration_Minutes], [CreatedBy], [Created_Date], [Remark], [User_ID]) VALUES (3, N'C#', 12, 2, 1, 4, CAST(N'2026-01-13T00:00:00.000' AS DateTime), NULL, 4)
INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Category_ID], [TotalMarks], [Duration_Minutes], [CreatedBy], [Created_Date], [Remark], [User_ID]) VALUES (4, N'dbms', 15, 20, 2, 4, CAST(N'2026-01-13T00:00:00.000' AS DateTime), NULL, 4)
INSERT [dbo].[Tests] ([Test_ID], [Test_Name], [Category_ID], [TotalMarks], [Duration_Minutes], [CreatedBy], [Created_Date], [Remark], [User_ID]) VALUES (5, N'Asp.Net', 13, 20, 3, 4, CAST(N'2026-01-13T00:00:00.000' AS DateTime), NULL, 4)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Answer_Details] ON 

INSERT [dbo].[User_Answer_Details] ([Answer_ID], [Result_ID], [Question_ID], [User_Answer], [Is_Correct]) VALUES (1, 1, 1099, N'B', 0)
INSERT [dbo].[User_Answer_Details] ([Answer_ID], [Result_ID], [Question_ID], [User_Answer], [Is_Correct]) VALUES (2, 1, 1100, N'D', 0)
INSERT [dbo].[User_Answer_Details] ([Answer_ID], [Result_ID], [Question_ID], [User_Answer], [Is_Correct]) VALUES (3, 1, 1101, N'A', 0)
GO
SET IDENTITY_INSERT [dbo].[User_Answer_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Bookmarks] ON 

INSERT [dbo].[User_Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Created_Date]) VALUES (2, 20, 1, CAST(N'2026-03-07T16:55:27.103' AS DateTime))
INSERT [dbo].[User_Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Created_Date]) VALUES (5, 19, 1, CAST(N'2026-03-07T16:56:00.810' AS DateTime))
INSERT [dbo].[User_Bookmarks] ([Bookmark_ID], [User_ID], [Question_ID], [Created_Date]) VALUES (7, 19, 2, CAST(N'2026-03-07T17:40:46.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[User_Bookmarks] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Tests] ON 

INSERT [dbo].[User_Tests] ([UT_ID], [User_ID], [Test_ID], [Assigned_Date], [Assigned_By], [Status], [Due_Date], [Completed_Date]) VALUES (4, 2, 3, CAST(N'2026-01-13T00:00:00.000' AS DateTime), 4, N'Pending', NULL, NULL)
INSERT [dbo].[User_Tests] ([UT_ID], [User_ID], [Test_ID], [Assigned_Date], [Assigned_By], [Status], [Due_Date], [Completed_Date]) VALUES (6, 5, 3, CAST(N'2026-01-13T00:00:00.000' AS DateTime), 4, N'Pending', NULL, NULL)
INSERT [dbo].[User_Tests] ([UT_ID], [User_ID], [Test_ID], [Assigned_Date], [Assigned_By], [Status], [Due_Date], [Completed_Date]) VALUES (8, 6, 4, CAST(N'2026-01-13T00:00:00.000' AS DateTime), 4, N'Pending', NULL, NULL)
SET IDENTITY_INSERT [dbo].[User_Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_FirstName], [User_LastName], [User_EmailID], [User_Password], [User_Role], [User_RegisteredDate], [Remark]) VALUES (2, N'Darshan', N'Lila', N'darshanlila1315@gmail.com', N'$2a$11$MdJeXKTOdBQS9OBOil1Co.tkUCD/l0RPuNoTINLSH16oqhkENAh4K', N'User', CAST(N'2026-01-12T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Users] ([User_ID], [User_FirstName], [User_LastName], [User_EmailID], [User_Password], [User_Role], [User_RegisteredDate], [Remark]) VALUES (3, N'yug', N'test', N'yugsakariya1022@gmail.com', N'$2a$11$2CTWZof0KBBkIQWIMBBno.p014KDO/03klYh3TPEByYmLSF05/Wpy', N'User', CAST(N'2026-01-12T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Users] ([User_ID], [User_FirstName], [User_LastName], [User_EmailID], [User_Password], [User_Role], [User_RegisteredDate], [Remark]) VALUES (4, N'admin', N'User', N'admin@gmail.com', N'admin@123', N'Admin', CAST(N'2026-01-12T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Name]    Script Date: 11/03/2026 11:45:31 am ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Name] UNIQUE NONCLUSTERED 
(
	[Category_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Companies_Name]    Script Date: 11/03/2026 11:45:31 am ******/
ALTER TABLE [dbo].[Companies] ADD  CONSTRAINT [UQ_Companies_Name] UNIQUE NONCLUSTERED 
(
	[Company_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 11/03/2026 11:45:31 am ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[User_EmailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookmarks] ADD  DEFAULT (getdate()) FOR [Saved_Date]
GO
ALTER TABLE [dbo].[PasswordResetOTP] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ('Regular') FOR [Question_Type]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[User_Bookmarks] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[User_Tests] ADD  DEFAULT (getdate()) FOR [Assigned_Date]
GO
ALTER TABLE [dbo].[User_Tests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [User_Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [User_RegisteredDate]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Questions]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Users]
GO
ALTER TABLE [dbo].[Test_Questions]  WITH CHECK ADD  CONSTRAINT [FK_TestQuestions_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Test_Questions] CHECK CONSTRAINT [FK_TestQuestions_Questions]
GO
ALTER TABLE [dbo].[Test_Questions]  WITH CHECK ADD  CONSTRAINT [FK_TestQuestions_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([Test_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Test_Questions] CHECK CONSTRAINT [FK_TestQuestions_Tests]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_Tests] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([Test_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_Tests]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Users]
GO
ALTER TABLE [dbo].[User_Answer_Details]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswers_Question] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
GO
ALTER TABLE [dbo].[User_Answer_Details] CHECK CONSTRAINT [FK_UserAnswers_Question]
GO
ALTER TABLE [dbo].[User_Answer_Details]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswers_Result] FOREIGN KEY([Result_ID])
REFERENCES [dbo].[TestResults] ([Result_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Answer_Details] CHECK CONSTRAINT [FK_UserAnswers_Result]
GO
ALTER TABLE [dbo].[User_Tests]  WITH CHECK ADD  CONSTRAINT [FK_UserTests_AssignedBy] FOREIGN KEY([Assigned_By])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[User_Tests] CHECK CONSTRAINT [FK_UserTests_AssignedBy]
GO
ALTER TABLE [dbo].[User_Tests]  WITH CHECK ADD  CONSTRAINT [FK_UserTests_Test] FOREIGN KEY([Test_ID])
REFERENCES [dbo].[Tests] ([Test_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Tests] CHECK CONSTRAINT [FK_UserTests_Test]
GO
ALTER TABLE [dbo].[User_Tests]  WITH CHECK ADD  CONSTRAINT [FK_UserTests_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Tests] CHECK CONSTRAINT [FK_UserTests_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([User_Role]='User' OR [User_Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_Assign_Question]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- IQ Portal - STORED PROCEDURES for Somee
-- Run this AFTER all data scripts
-- =============================================

CREATE PROCEDURE [dbo].[sp_Assign_Question] @p_Test_ID INT, @p_Question_ID INT AS BEGIN INSERT INTO Test_Questions (Test_ID, Question_ID) VALUES (@p_Test_ID, @p_Question_ID); END
GO
/****** Object:  StoredProcedure [dbo].[sp_Assign_Test_To_User]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Assign_Test_To_User] @p_User_ID INT, @p_Test_ID INT, @p_Assigned_By INT, @p_Due_Date DATETIME = NULL AS BEGIN IF NOT EXISTS (SELECT 1 FROM User_Tests WHERE User_ID = @p_User_ID AND Test_ID = @p_Test_ID) BEGIN INSERT INTO User_Tests (User_ID, Test_ID, Assigned_By, Due_Date, Status) VALUES (@p_User_ID, @p_Test_ID, @p_Assigned_By, @p_Due_Date, 'Pending'); END END
GO
/****** Object:  StoredProcedure [dbo].[sp_Check_User_Exists]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Check_User_Exists] @p_Email NVARCHAR(100) AS BEGIN SELECT User_ID FROM Users WHERE User_EmailID = @p_Email; END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckTestCompleted]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckTestCompleted] @p_User_ID INT, @p_Test_ID INT AS BEGIN SELECT COUNT(*) AS IsCompleted FROM TestResults WHERE User_ID = @p_User_ID AND Test_ID = @p_Test_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Bookmark]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Bookmark] @p_Bookmark_ID INT AS BEGIN DELETE FROM Bookmarks WHERE Bookmark_ID = @p_Bookmark_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Category]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Category] @Category_ID INT AS BEGIN DELETE FROM Categories WHERE Category_ID = @Category_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Company]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Company] @p_Company_ID INT AS BEGIN DELETE FROM Companies WHERE Company_ID = @p_Company_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Question]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Question] @p_Question_ID INT AS BEGIN SET NOCOUNT ON; DELETE FROM Test_Questions WHERE Question_ID = @p_Question_ID; DELETE FROM Bookmarks WHERE Question_ID = @p_Question_ID; DELETE FROM Questions WHERE Question_ID = @p_Question_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Test]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_Test] @p_Test_ID INT AS BEGIN DELETE FROM Test_Questions WHERE Test_ID = @p_Test_ID; DELETE FROM Tests WHERE Test_ID = @p_Test_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_TestQuestion]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Delete_TestQuestion] @p_Question_ID INT AS BEGIN DELETE FROM Questions WHERE Question_ID = @p_Question_ID AND Question_Type = 'Test'; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_All_Test_Assignments]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Get_All_Test_Assignments]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ut.UT_ID,
        u.User_FirstName,
        t.Test_Name,
        c.Category_Name,
        t.TotalMarks,
        t.Duration_Minutes,
        ut.Assigned_Date,
        CASE 
            WHEN EXISTS (
                SELECT 1 
                FROM TestResults tr 
                WHERE tr.Test_ID = ut.Test_ID 
                AND tr.User_ID = ut.User_ID
            ) THEN 'Completed'
            ELSE ut.Status
        END AS Status
    FROM User_Tests ut
    INNER JOIN Users u ON ut.User_ID = u.User_ID
    INNER JOIN Tests t ON ut.Test_ID = t.Test_ID
    INNER JOIN Categories c ON t.Category_ID = c.Category_ID
    ORDER BY ut.Assigned_Date DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Available_Tests_For_User]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Get_Available_Tests_For_User] @p_User_ID INT AS BEGIN SELECT t.Test_ID, t.Test_Name, c.Category_Name, t.TotalMarks, t.Duration_Minutes FROM Tests t LEFT JOIN Categories c ON t.Category_ID = c.Category_ID WHERE t.Test_ID NOT IN (SELECT Test_ID FROM User_Tests WHERE User_ID = @p_User_ID) ORDER BY t.Test_Name; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Test_Review_Details]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Get_Test_Review_Details] @p_Result_ID INT AS BEGIN SET NOCOUNT ON; SELECT q.Question_ID, q.Question_Text, q.OptionA, q.OptionB, q.OptionC, q.OptionD, q.CorrectOption, uad.User_Answer, uad.Is_Correct FROM User_Answer_Details uad INNER JOIN Questions q ON uad.Question_ID = q.Question_ID WHERE uad.Result_ID = @p_Result_ID ORDER BY q.Question_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_User_Assigned_Tests]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Get_User_Assigned_Tests] @p_User_ID INT AS BEGIN SELECT ut.UT_ID, ut.User_ID, ut.Test_ID, t.Test_Name, c.Category_Name, t.TotalMarks, t.Duration_Minutes, ut.Assigned_Date, ut.Due_Date, ut.Status, u.User_EmailID AS Assigned_By_Name FROM User_Tests ut INNER JOIN Tests t ON ut.Test_ID = t.Test_ID LEFT JOIN Categories c ON t.Category_ID = c.Category_ID LEFT JOIN Users u ON ut.Assigned_By = u.User_ID WHERE ut.User_ID = @p_User_ID ORDER BY ut.Assigned_Date DESC; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_User_ByID]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Get_User_ByID] @p_User_ID INT AS BEGIN SELECT * FROM Users WHERE User_ID = @p_User_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Users_With_Test]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Get_Users_With_Test] @p_Test_ID INT AS BEGIN SET NOCOUNT ON; SELECT DISTINCT u.User_ID FROM Users u INNER JOIN User_Tests ut ON u.User_ID = ut.User_ID WHERE ut.Test_ID = @p_Test_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveTests_ForUser]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetActiveTests_ForUser] AS BEGIN SELECT t.Test_ID, t.Test_Name, c.Category_Name, t.TotalMarks, t.Duration_Minutes AS DurationMinutes, (SELECT COUNT(*) FROM Test_Questions WHERE Test_ID = t.Test_ID) AS QuestionCount FROM Tests t INNER JOIN Categories c ON t.Category_ID = c.Category_ID ORDER BY t.Test_Name; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Categories]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll_Categories] AS BEGIN SELECT Category_ID, Category_Name, Remark FROM Categories ORDER BY Category_Name; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Companies]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll_Companies] AS BEGIN SELECT Company_ID, Company_Name, Remark FROM Companies ORDER BY Company_Name; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_NonAdminUsers]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll_NonAdminUsers] AS BEGIN SELECT User_ID, User_FirstName, User_EmailID FROM Users WHERE User_Role = 'User' ORDER BY User_FirstName; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Questions]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll_Questions] AS BEGIN SELECT q.*, c.Category_Name, co.Company_Name FROM Questions q INNER JOIN Categories c ON q.Category_ID = c.Category_ID INNER JOIN Companies co ON q.Company_ID = co.Company_ID ORDER BY q.Question_ID DESC; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_TestQuestions]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll_TestQuestions] AS BEGIN SELECT q.Question_ID, q.Question_Text, q.OptionA, q.OptionB, q.OptionC, q.OptionD, q.CorrectOption, c.Category_Name, co.Company_Name, q.Category_ID, q.Company_ID FROM Questions q LEFT JOIN Categories c ON q.Category_ID = c.Category_ID LEFT JOIN Companies co ON q.Company_ID = co.Company_ID WHERE q.Question_Type = 'Test' ORDER BY q.Question_ID DESC; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_TestResults]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll_TestResults] AS BEGIN SELECT r.Result_ID, t.Test_Name, u.User_FirstName + ' ' + u.User_LastName AS UserName, r.Result_Score, r.Total_Questions AS TotalQuestions, r.CorrectAnswers, r.WrongAnswers FROM TestResults r INNER JOIN Tests t ON r.Test_ID = t.Test_ID INNER JOIN Users u ON r.User_ID = u.User_ID ORDER BY r.Result_ID DESC; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAll_Tests]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAll_Tests] AS BEGIN SELECT t.Test_ID, t.Test_Name, t.Category_ID, c.Category_Name, t.TotalMarks, t.Duration_Minutes, t.CreatedBy, t.Remark FROM Tests t INNER JOIN Categories c ON t.Category_ID = c.Category_ID ORDER BY t.Test_Name; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAppSetting]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAppSetting]
    @p_Key NVARCHAR(50)
AS
BEGIN
    SELECT SettingValue FROM AppSettings WHERE SettingKey = @p_Key;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAssigned_Questions]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAssigned_Questions] @p_Test_ID INT AS BEGIN SELECT tq.TQ_ID, tq.Question_ID, q.Question_Text FROM Test_Questions tq INNER JOIN Questions q ON tq.Question_ID = q.Question_ID WHERE tq.Test_ID = @p_Test_ID ORDER BY tq.TQ_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailable_Questions]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAvailable_Questions]
    @p_Test_ID INT
AS
BEGIN
    SELECT 
        q.Question_ID,
        q.Question_Text,
        q.OptionA,
        q.OptionB,
        q.OptionC,
        q.OptionD,
        q.CorrectOption,
        q.Question_Type,        -- ADDED: For filtering Test vs Regular questions
        q.Category_ID,
        c.Category_Name,        -- ADDED: For display in grid
        q.Company_ID,
        co.Company_Name         -- ADDED: For display in grid
    FROM Questions q
    LEFT JOIN Categories c ON q.Category_ID = c.Category_ID
    LEFT JOIN Companies co ON q.Company_ID = co.Company_ID
    WHERE q.Question_ID NOT IN (
        SELECT Question_ID 
        FROM Test_Questions 
        WHERE Test_ID = @p_Test_ID
    )
    ORDER BY q.Question_ID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookmarks_ByUserID]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBookmarks_ByUserID]
    @p_User_ID INT
AS
BEGIN
    SELECT b.Bookmark_ID, 
           q.Question_ID,
           q.Question_Text, 
           q.OptionA,
           q.OptionB,
           q.OptionC,
           q.OptionD,
           q.CorrectOption,
           c.Category_Name, 
           co.Company_Name,
           b.Saved_Date
    FROM Bookmarks b
    INNER JOIN Questions q ON b.Question_ID = q.Question_ID
    INNER JOIN Categories c ON q.Category_ID = c.Category_ID
    INNER JOIN Companies co ON q.Company_ID = co.Company_ID
    WHERE b.User_ID = @p_User_ID
    ORDER BY b.Saved_Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Category]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByID_Category] @p_Category_ID INT AS BEGIN SELECT * FROM Categories WHERE Category_ID = @p_Category_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Company]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByID_Company] @p_Company_ID INT AS BEGIN SELECT * FROM Companies WHERE Company_ID = @p_Company_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Question]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByID_Question] @p_Question_ID INT AS BEGIN SET NOCOUNT ON; SELECT q.Question_ID, q.Category_ID, q.Company_ID, q.Question_Text, q.OptionA, q.OptionB, q.OptionC, q.OptionD, q.CorrectOption, c.Category_Name, co.Company_Name FROM Questions q INNER JOIN Categories c ON q.Category_ID = c.Category_ID INNER JOIN Companies co ON q.Company_ID = co.Company_ID WHERE q.Question_ID = @p_Question_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_Test]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByID_Test] @p_Test_ID INT AS BEGIN SELECT * FROM Tests WHERE Test_ID = @p_Test_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByID_TestQuestion]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByID_TestQuestion] @p_Question_ID INT AS BEGIN SELECT q.Question_ID, q.Question_Text, q.OptionA, q.OptionB, q.OptionC, q.OptionD, q.CorrectOption, q.Category_ID, q.Company_ID, c.Category_Name, co.Company_Name FROM Questions q LEFT JOIN Categories c ON q.Category_ID = c.Category_ID LEFT JOIN Companies co ON q.Company_ID = co.Company_ID WHERE q.Question_ID = @p_Question_ID AND q.Question_Type = 'Test'; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuestionsByTestID]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetQuestionsByTestID] @p_Test_ID INT AS BEGIN SELECT q.Question_ID, q.Question_Text, q.OptionA, q.OptionB, q.OptionC, q.OptionD, q.CorrectOption FROM Questions q INNER JOIN Test_Questions tq ON q.Question_ID = tq.Question_ID WHERE tq.Test_ID = @p_Test_ID ORDER BY q.Question_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTestResults_ByUserID]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTestResults_ByUserID] @p_User_ID INT AS BEGIN SELECT r.Result_ID, t.Test_Name, r.Result_Score, r.Total_Questions, r.CorrectAnswers, r.WrongAnswers FROM TestResults r INNER JOIN Tests t ON r.Test_ID = t.Test_ID WHERE r.User_ID = @p_User_ID ORDER BY r.Result_ID DESC; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTestResults_Statistics]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTestResults_Statistics] AS BEGIN SELECT COUNT(*) AS TotalAttempts, ISNULL(AVG(CASE WHEN Total_Questions > 0 THEN (Result_Score * 100 / Total_Questions) ELSE 0 END), 0) AS AvgScore, COUNT(DISTINCT User_ID) AS UniqueUsers FROM TestResults; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTestsWithStatus_ForUser]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTestsWithStatus_ForUser] @p_User_ID INT AS BEGIN SELECT t.Test_ID, t.Test_Name, c.Category_Name, t.TotalMarks, t.Duration_Minutes AS DurationMinutes, (SELECT COUNT(*) FROM Test_Questions WHERE Test_ID = t.Test_ID) AS QuestionCount, CASE WHEN EXISTS (SELECT 1 FROM TestResults WHERE Test_ID = t.Test_ID AND User_ID = @p_User_ID) THEN 1 ELSE 0 END AS IsCompleted FROM Tests t INNER JOIN Categories c ON t.Category_ID = c.Category_ID WHERE (EXISTS (SELECT 1 FROM Test_Questions tq INNER JOIN Questions q ON tq.Question_ID = q.Question_ID WHERE tq.Test_ID = t.Test_ID AND q.Question_Type = 'Regular') AND NOT EXISTS (SELECT 1 FROM Test_Questions tq INNER JOIN Questions q ON tq.Question_ID = q.Question_ID WHERE tq.Test_ID = t.Test_ID AND q.Question_Type = 'Test')) OR EXISTS (SELECT 1 FROM User_Tests ut WHERE ut.Test_ID = t.Test_ID AND ut.User_ID = @p_User_ID) ORDER BY t.Test_Name; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalAdminsCount]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalAdminsCount] AS BEGIN SELECT COUNT(*) AS TotalAdmins FROM Users WHERE User_Role = 'Admin'; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalAttemptsCount]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalAttemptsCount] AS BEGIN SELECT COUNT(*) AS TotalAttempts FROM TestResults; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalQuestionsCount]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalQuestionsCount] AS BEGIN SELECT COUNT(*) AS TotalQuestions FROM Questions; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalTestsCount]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalTestsCount] AS BEGIN SELECT COUNT(*) AS TotalTests FROM Tests; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalUsersCount]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTotalUsersCount] AS BEGIN SELECT COUNT(*) AS TotalUsers FROM Users WHERE User_Role = 'User'; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserBookmarkCount]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserBookmarkCount] @p_User_ID INT AS BEGIN SELECT COUNT(*) AS BookmarkCount FROM Bookmarks WHERE User_ID = @p_User_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserByEmail] @p_Email NVARCHAR(100) AS BEGIN SELECT * FROM Users WHERE User_EmailID = @p_Email; END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserTestAttemptCount]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserTestAttemptCount] @p_User_ID INT AS BEGIN SELECT COUNT(*) AS TestCount FROM TestResults WHERE User_ID = @p_User_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Bookmark]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_Bookmark] @p_User_ID INT, @p_Question_ID INT AS BEGIN IF NOT EXISTS (SELECT 1 FROM Bookmarks WHERE User_ID = @p_User_ID AND Question_ID = @p_Question_ID) BEGIN INSERT INTO Bookmarks (User_ID, Question_ID, Saved_Date) VALUES (@p_User_ID, @p_Question_ID, GETDATE()); END END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Category]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_Category] @Category_Name NVARCHAR(50) AS BEGIN INSERT INTO Categories (Category_Name) VALUES (@Category_Name); END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Company]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_Company] @p_Company_Name NVARCHAR(100) AS BEGIN INSERT INTO Companies (Company_Name) VALUES (@p_Company_Name); END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Question]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_Question] @p_Category_ID INT, @p_Company_ID INT, @p_Question_Text NVARCHAR(255), @p_OptionA NVARCHAR(255), @p_OptionB NVARCHAR(255), @p_OptionC NVARCHAR(255), @p_OptionD NVARCHAR(255), @p_CorrectOption CHAR(1) AS BEGIN SET NOCOUNT ON; INSERT INTO Questions (Category_ID, Company_ID, Question_Text, OptionA, OptionB, OptionC, OptionD, CorrectOption) VALUES (@p_Category_ID, @p_Company_ID, @p_Question_Text, @p_OptionA, @p_OptionB, @p_OptionC, @p_OptionD, @p_CorrectOption); SELECT SCOPE_IDENTITY() AS Question_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Test]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_Test] @p_Test_Name NVARCHAR(50), @p_Category_ID INT, @p_TotalMarks INT, @p_Duration_Minutes INT, @p_CreatedBy INT AS BEGIN INSERT INTO Tests (Test_Name, Category_ID, TotalMarks, Duration_Minutes, CreatedBy, User_ID) VALUES (@p_Test_Name, @p_Category_ID, @p_TotalMarks, @p_Duration_Minutes, @p_CreatedBy, @p_CreatedBy); END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_TestQuestion]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_TestQuestion] @p_Question_Text NVARCHAR(MAX), @p_OptionA NVARCHAR(500), @p_OptionB NVARCHAR(500), @p_OptionC NVARCHAR(500), @p_OptionD NVARCHAR(500), @p_CorrectOption CHAR(1), @p_Category_ID INT, @p_Company_ID INT AS BEGIN INSERT INTO Questions (Question_Text, OptionA, OptionB, OptionC, OptionD, CorrectOption, Category_ID, Company_ID, Question_Type) VALUES (@p_Question_Text, @p_OptionA, @p_OptionB, @p_OptionC, @p_OptionD, @p_CorrectOption, @p_Category_ID, @p_Company_ID, 'Test'); END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertTestResult]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertTestResult] @p_Test_ID INT, @p_User_ID INT, @p_Score INT, @p_TotalQuestions INT, @p_CorrectAnswers INT, @p_WrongAnswers INT AS BEGIN INSERT INTO TestResults (Test_ID, User_ID, Result_Score, Total_Questions, CorrectAnswers, WrongAnswers) VALUES (@p_Test_ID, @p_User_ID, @p_Score, @p_TotalQuestions, @p_CorrectAnswers, @p_WrongAnswers); SELECT SCOPE_IDENTITY() AS Result_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Remove_AssignedQuestion]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Remove_AssignedQuestion] @p_TQ_ID INT AS BEGIN DELETE FROM Test_Questions WHERE TQ_ID = @p_TQ_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Save_User_Answer]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Save_User_Answer] @p_Result_ID INT, @p_Question_ID INT, @p_User_Answer CHAR(1), @p_Is_Correct BIT AS BEGIN INSERT INTO User_Answer_Details (Result_ID, Question_ID, User_Answer, Is_Correct) VALUES (@p_Result_ID, @p_Question_ID, @p_User_Answer, @p_Is_Correct); END
GO
/****** Object:  StoredProcedure [dbo].[sp_StorePasswordResetOTP]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StorePasswordResetOTP] @p_Email NVARCHAR(255), @p_OTP NVARCHAR(6), @p_ExpiryTime DATETIME AS BEGIN DELETE FROM PasswordResetOTP WHERE Email = @p_Email; INSERT INTO PasswordResetOTP (Email, OTP, ExpiryTime, CreatedAt) VALUES (@p_Email, @p_OTP, @p_ExpiryTime, GETDATE()); END
GO
/****** Object:  StoredProcedure [dbo].[sp_Unassign_Test_From_User]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Unassign_Test_From_User] @p_UT_ID INT AS BEGIN DELETE FROM User_Tests WHERE UT_ID = @p_UT_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Category]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Category] @Category_ID INT, @Category_Name NVARCHAR(50) AS BEGIN UPDATE Categories SET Category_Name = @Category_Name WHERE Category_ID = @Category_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Company]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Company] @p_Company_ID INT, @p_Company_Name NVARCHAR(100) AS BEGIN UPDATE Companies SET Company_Name = @p_Company_Name WHERE Company_ID = @p_Company_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Question]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Question] @p_Question_ID INT, @p_Category_ID INT, @p_Company_ID INT, @p_Question_Text NVARCHAR(255), @p_OptionA NVARCHAR(255), @p_OptionB NVARCHAR(255), @p_OptionC NVARCHAR(255), @p_OptionD NVARCHAR(255), @p_CorrectOption CHAR(1) AS BEGIN SET NOCOUNT ON; UPDATE Questions SET Category_ID = @p_Category_ID, Company_ID = @p_Company_ID, Question_Text = @p_Question_Text, OptionA = @p_OptionA, OptionB = @p_OptionB, OptionC = @p_OptionC, OptionD = @p_OptionD, CorrectOption = @p_CorrectOption WHERE Question_ID = @p_Question_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Test]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_Test] @p_Test_ID INT, @p_Test_Name NVARCHAR(50), @p_Category_ID INT, @p_TotalMarks INT, @p_Duration_Minutes INT, @p_CreatedBy INT AS BEGIN UPDATE Tests SET Test_Name = @p_Test_Name, Category_ID = @p_Category_ID, TotalMarks = @p_TotalMarks, Duration_Minutes = @p_Duration_Minutes, CreatedBy = @p_CreatedBy, User_ID = @p_CreatedBy WHERE Test_ID = @p_Test_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_TestQuestion]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Update_TestQuestion] @p_Question_ID INT, @p_Question_Text NVARCHAR(MAX), @p_OptionA NVARCHAR(500), @p_OptionB NVARCHAR(500), @p_OptionC NVARCHAR(500), @p_OptionD NVARCHAR(500), @p_CorrectOption CHAR(1), @p_Category_ID INT, @p_Company_ID INT AS BEGIN UPDATE Questions SET Question_Text = @p_Question_Text, OptionA = @p_OptionA, OptionB = @p_OptionB, OptionC = @p_OptionC, OptionD = @p_OptionD, CorrectOption = @p_CorrectOption, Category_ID = @p_Category_ID, Company_ID = @p_Company_ID, Question_Type = 'Test' WHERE Question_ID = @p_Question_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserPassword]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUserPassword] @p_Email NVARCHAR(255), @p_NewPassword NVARCHAR(256) AS BEGIN UPDATE Users SET User_Password = @p_NewPassword WHERE User_EmailID = @p_Email; DELETE FROM PasswordResetOTP WHERE Email = @p_Email; END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUserPasswordByID]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUserPasswordByID] @p_User_ID INT, @p_NewPassword NVARCHAR(256) AS BEGIN UPDATE Users SET User_Password = @p_NewPassword WHERE User_ID = @p_User_ID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserLogin] @p_Email NVARCHAR(50), @p_Password NVARCHAR(50) AS BEGIN SELECT User_ID, User_FirstName, User_LastName, User_Role FROM Users WHERE User_EmailID = @p_Email AND User_Password = @p_Password; END
GO
/****** Object:  StoredProcedure [dbo].[sp_UserRegister]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserRegister] @p_FirstName NVARCHAR(50), @p_LastName NVARCHAR(50), @p_EmailID NVARCHAR(100), @p_Password NVARCHAR(256) AS BEGIN INSERT INTO Users (User_FirstName, User_LastName, User_EmailID, User_Password, User_Role) VALUES (@p_FirstName, @p_LastName, @p_EmailID, @p_Password, 'User'); SELECT * FROM Users WHERE User_ID = SCOPE_IDENTITY(); END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerifyPasswordResetOTP]    Script Date: 11/03/2026 11:45:31 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerifyPasswordResetOTP] @p_Email NVARCHAR(255), @p_OTP NVARCHAR(6) AS BEGIN SELECT * FROM PasswordResetOTP WHERE Email = @p_Email AND OTP = @p_OTP AND ExpiryTime > GETDATE(); END
GO
USE [master]
GO
